{% extends "main.html" %}
{% block main%}
<div class="inside" style="background-image: url({{ url_for('static', filename='img/background.jpg') }});">
  <div class="inside_cover">
    <div class="banner">
      <div class="banner_ins">멤버 소개</div>
      <div>
        <img src="{{ url_for('static',filename='img/나코.jpg') }}" class="profile_choice" id="_1">
        <img src="{{ url_for('static',filename='img/민주.jpg') }}" class="profile_choice"id="_2">
        <img src="{{ url_for('static',filename='img/사쿠라.jpg') }}" class="profile_choice"id="_3">
        <img src="{{ url_for('static',filename='img/예나.jpg') }}" class="profile_choice"id="_4">
        <img src="{{ url_for('static',filename='img/원영.jpg') }}" class="profile_choice"id="_5">
        <img src="{{ url_for('static',filename='img/유리.jpg') }}" class="profile_choice"id="_6">
        <img src="{{ url_for('static',filename='img/유진.jpg') }}" class="profile_choice"id="_7">
        <img src="{{ url_for('static',filename='img/은비.jpg') }}" class="profile_choice"id="_8">
        <img src="{{ url_for('static',filename='img/채연.jpg') }}" class="profile_choice"id="_9">
        <img src="{{ url_for('static',filename='img/채원.jpg') }}" class="profile_choice"id="_10">
        <img src="{{ url_for('static',filename='img/혜원.jpg') }}" class="profile_choice"id="_11">
        <img src="{{ url_for('static',filename='img/히토미.jpg') }}" class="profile_choice"id="_12">
      </div>
    </div>
  </div>
</div>
<div id="sec1" class="section">
  <div id="color1" class="color">
    <img src="{{url_for('static',filename='img/close.png')}}" class="close">
    <img src="{{url_for('static',filename='img/profile_나코.png')}}" class="profile_img">
    <div class="profiles">
      <div class="profile_name">이름 : 야부키 나코(요정)</div>
      <div class="profile_name">생일 : 2001년 6월 18일</div>
      <div class="profile_name">혈액형 : 미상</div>
      <div class="profile_name">키 : 150cm</div>
      <div class="profile_name">취미 : 영화 보기</div>
      <div class="profile_name">특기 : 무쌍커풀 만들기</div>
    </div>
  </div>
</div>
<div id="sec2" class="section">
  <div id="color2" class="color">
    <img src="{{url_for('static',filename='img/close.png')}}" class="close">
    <img src="{{url_for('static',filename='img/profile_민주.png')}}" class="profile_img">
    <div class="profiles">
      <div class="profile_name">이름 : 김민주(애잔한 개구리)</div>
      <div class="profile_name">생일 : 2001년 2월 5일</div>
      <div class="profile_name">혈액형 : AB형</div>
      <div class="profile_name">키 : 166cm</div>
      <div class="profile_name">취미 : 영화 보기</div>
      <div class="profile_name">특기 : 사진 찍기, 기타 연주</div>
    </div>
  </div>
</div>
<div id="sec3" class="section">
  <div id="color3" class="color">
    <img src="{{url_for('static',filename='img/close.png')}}" class="close">
    <img src="{{url_for('static',filename='img/profile_사쿠라.png')}}" class="profile_img">
    <div class="profiles">
      <div class="profile_name">이름 : 미야와키 사쿠라(걸꾸라쉬)</div>
      <div class="profile_name">생일 : 1998년 3월 19일</div>
      <div class="profile_name">혈액형 : A형</div>
      <div class="profile_name">키 : 163cm</div>
      <div class="profile_name">취미 : 게임</div>
      <div class="profile_name">특기 : 재미있는 그림 그리기</div>
    </div>
  </div>
</div>
<div id="sec4" class="section">
  <div id="color4" class="color">
    <img src="{{url_for('static',filename='img/close.png')}}" class="close">
    <img src="{{url_for('static',filename='img/profile_예나.png')}}" class="profile_img">
    <div class="profiles">
      <div class="profile_name">이름 : 최예나(오리)</div>
      <div class="profile_name">생일 : 1999년 9월 29일</div>
      <div class="profile_name">혈액형 : A형</div>
      <div class="profile_name">키 : 163cm</div>
      <div class="profile_name">취미 : 영화 보기</div>
      <div class="profile_name">특기 : 인형뽑기, 게임</div>
    </div>
  </div>
</div>
<div id="sec5" class="section">
  <div id="color5" class="color">
    <img src="{{url_for('static',filename='img/close.png')}}" class="close">
    <img src="{{url_for('static',filename='img/profile_원영.png')}}" class="profile_img">
    <div class="profiles">
      <div class="profile_name">이름 : 장원영(자이언트 베이비)</div>
      <div class="profile_name">생일 : 2004년 8월 31일</div>
      <div class="profile_name">혈액형 : O형</div>
      <div class="profile_name">키 : 169cm</div>
      <div class="profile_name">취미 : 언니들하고 놀기</div>
      <div class="profile_name">특기 : 영어발음</div>
    </div>
  </div>
</div>
<div id="sec6" class="section">
  <div id="color6" class="color">
    <img src="{{url_for('static',filename='img/close.png')}}" class="close">
    <img src="{{url_for('static',filename='img/profile_유리.png')}}" class="profile_img">
    <div class="profiles">
      <div class="profile_name">이름 : 조유리(햄찌율)</div>
      <div class="profile_name">생일 : 2001년 10월 2일</div>
      <div class="profile_name">혈액형 : AB형</div>
      <div class="profile_name">키 : 160cm</div>
      <div class="profile_name">취미 : 공포영화 보기</div>
      <div class="profile_name">특기 : 드럼, 피아노, 노래</div>
    </div>
  </div>
</div>
<div id="sec7" class="section">
  <div id="color7" class="color">
    <img src="{{url_for('static',filename='img/close.png')}}" class="close">
    <img src="{{url_for('static',filename='img/profile_유진.png')}}" class="profile_img">
    <div class="profiles">
      <div class="profile_name">이름 : 안유진(안댕댕)</div>
      <div class="profile_name">생일 : 2003년 9월 1일</div>
      <div class="profile_name">혈액형 : A형</div>
      <div class="profile_name">키 : 169cm</div>
      <div class="profile_name">취미 : 줄넘기</div>
      <div class="profile_name">특기 : 달리기</div>
    </div>
  </div>
</div>
<div id="sec8" class="section">
  <div id="color8" class="color">
    <img src="{{url_for('static',filename='img/close.png')}}" class="close">
    <img src="{{url_for('static',filename='img/profile_은비.png')}}" class="profile_img">
    <div class="profiles">
      <div class="profile_name">이름 : 권은비(셀럽)</div>
      <div class="profile_name">생일 : 1995년 9월 27일</div>
      <div class="profile_name">혈액형 : A형</div>
      <div class="profile_name">키 : 160cm</div>
      <div class="profile_name">취미 : 영화 보기, 글씨 쓰기, 쇼핑하기, 독서</div>
      <div class="profile_name">특기 : 악기 연주</div>
    </div>
  </div>
</div>
<div id="sec9" class="section">
  <div id="color9" class="color">
    <img src="{{url_for('static',filename='img/close.png')}}" class="close">
    <img src="{{url_for('static',filename='img/profile_채연.png')}}" class="profile_img">
    <div class="profiles">
      <div class="profile_name">이름 : 이채연(깃털채연)</div>
      <div class="profile_name">생일 : 2000년 1월 11일</div>
      <div class="profile_name">혈액형 : A형</div>
      <div class="profile_name">키 : 165cm</div>
      <div class="profile_name">취미 : 요리하기</div>
      <div class="profile_name">특기 : 안무 창작</div>
    </div>
  </div>
</div>
<div id="sec10" class="section">
  <div id="color10" class="color">
    <img src="{{url_for('static',filename='img/close.png')}}" class="close">
    <img src="{{url_for('static',filename='img/profile_채원.png')}}" class="profile_img">
    <div class="profiles">
      <div class="profile_name">이름 : 김채원(쌈무요정)</div>
      <div class="profile_name">생일 : 2000년 8월 1일</div>
      <div class="profile_name">혈액형 : B형</div>
      <div class="profile_name">키 : 164cm</div>
      <div class="profile_name">취미 : 영화 보기, 안무 영상 보기</div>
      <div class="profile_name">특기 : 매운 음식 먹기</div>
    </div>
  </div>
</div>
<div id="sec11" class="section">
  <div id="color11" class="color">
    <img src="{{url_for('static',filename='img/close.png')}}" class="close">
    <img src="{{url_for('static',filename='img/profile_혜원.png')}}" class="profile_img">
    <div class="profiles">
      <div class="profile_name">이름 : 강혜원(지옥에서 온 청순래퍼)</div>
      <div class="profile_name">생일 : 1999년 7월 5일</div>
      <div class="profile_name">혈액형 : B형</div>
      <div class="profile_name">키 : 163cm</div>
      <div class="profile_name">취미 : 드라마 보기</div>
      <div class="profile_name">특기 : 피아노</div>
    </div>
  </div>
</div>
<div id="sec12" class="section">
  <div id="color12" class="color">
    <img src="{{url_for('static',filename='img/close.png')}}" class="close">
    <img src="{{url_for('static',filename='img/profile_히토미.png')}}" class="profile_img">
    <div class="profiles">
      <div class="profile_name">이름 : 혼다 히토미(빵토미)</div>
      <div class="profile_name">생일 : 2001년 10월 6일</div>
      <div class="profile_name">혈액형 : A형</div>
      <div class="profile_name">키 : 158cm</div>
      <div class="profile_name">취미 : 독서</div>
      <div class="profile_name">특기 : 아크로바틱</div>
    </div>
  </div>
</div>
{% endblock %}